@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Azeret Mono", monospace;
}
/* universal selector  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* nav style  */
nav {
  display: flex;
  justify-content: space-around;
}
header > nav > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  margin-top: 30px;
}
header > nav > p {
  font-family: Azeret Mono;
  font-size: 16px;
  padding: 5px;
  font-weight: 400;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 5px;
  margin-top: 30px;
  opacity: 0.7;
}
/* banner part  */
.banner-container {
  width: 1440px;
  height: 652px;
  margin: 0 auto;
  margin-top: 10px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 152px;
}
.banner-items h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 38px;
  font-weight: 800;
  width: 998px;
  height: 136px;
  text-align: center;
}
.banner-items p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  width: 998px;
  height: 212px;
  text-align: center;
}
.bg-btn {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  width: 200px;
  height: 60px;
  background: rgb(13, 19, 33);
  margin-top: -20px;
}
.banner-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* why web development section  */
.web-development-container {
  width: 1140px;
  height: 1150px;
  margin: 0 auto;
  background: rgba(13, 19, 33, 0.02);
}
.web-development-content h1 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  width: 852px;
  height: 37px;
  margin-left: 80px;
}
.web-development-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
  width: 852px;
  height: 52px;
  margin-left: 80px;
}
.coding-content h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  line-height: 36px;
  width: 390px;
  height: 72px;
  margin-left: 40px;
}
.coding-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 468px;
  height: 52px;
  margin-left: 40px;
  margin-top: 5px;
}
.learn-more {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin-top: 44px;
  width: 150px;
  height: 37px;
  padding-top: 5px;
  margin-left: 40px;
}

.coding-section {
  width: 946px;
  height: 336px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-left: 40px;
}
.coding-img {
  width: 259.56px;
  height: 217.01px;
  margin-left: 40px;
}
/* <!-- modern web system  -->  */
.modern-web-container {
  width: 946px;
  height: 336px;
  display: flex;
  justify-content: space-around;
  margin-left: 40px;
}
.modern-web-image {
  width: 240px;
  height: 240px;
}
.modern-web-text h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  width: 477px;
  height: 72px;
  /* margin-left: 40px; */
}
.modern-web-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 358px;
  height: 40px;
  /* margin-left: 40px; */
}
.modern-web-learn {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin-top: 44px;
  width: 150px;
  height: 37px;
  margin-top: 60px;
}
/* my inspiration section  */
.inspiration {
  width: 1140px;
  height: 614px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 150px;
}
.inspiration-text h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  width: 852px;
  height: 37px;
  text-align: center;
  margin-bottom: 24px;
  margin-left: 144px;
  margin-right: 144px;
}
.inspiration-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 852px;
  height: 52px;
  text-align: center;
  margin-bottom: 48px;
  margin-left: 144px;
  margin-right: 144px;
}
.inspiration-video {
  width: 1076px;
  height: 550px;
  width: 100%;
}
.border-design {
  border-radius: 15px;
}
/* my current target  */
.current-target-container {
  width: 1140px;
  height: 460px;
  margin: 0 auto;
}
.current-target-container .headline {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  width: 852px;
  height: 37px;
  text-align: center;
  margin-left: 80px;
  margin-bottom: 24px;
  margin-top: -60px;
}
.current-target-container .heading-details {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  width: 852px;
  height: 52px;
  text-align: center;
  margin-left: 80px;
}
.current-target-items {
  display: flex;
  justify-content: space-around;
  margin: 40px 10px;
}
.current-target-items h1 {
  width: 284px;
  height: 36px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}
.current-target-items p {
  width: 284px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
/* .current-target-items a {
  width: 284px;
  height: 19px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 200px; */
/* } */
.link-learn-more {
  margin-top: 85px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  border-radius: 2px solid blue;

  color: rgb(13, 19, 33);
}
.current-target-item-html {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  margin: 10px;
}
.current-target-item-css {
  border-radius: 16px;
  width: 364px;
  height: 299px;
  background: rgba(0, 76, 232, 0.05);
  margin: 10px;
}
.current-target-item-js {
  border-radius: 16px;
  width: 364px;
  height: 299px;
  background: rgba(255, 223, 0, 0.05);
  margin: 10px;
}
/* supporting hand section  */
.supporting-hand {
  width: 1140px;
  height: 313px;
  margin: 0 auto;
  background-image: url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 40px;
  border-radius: 2px;
  margin-bottom: 80px;
  background-blend-mode: overlay;
  background-color: rgb(0, 0, 0, 0.5);
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input-text h1 {
  height: 36px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.input-text p {
  width: 606px;
  height: 52px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.input-field {
  width: 600px;
  height: 50px;
  margin-top: 100px;
}
.input-field input {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 300px;
  height: 57px;
  font-size: 15px;
}
.input-field button {
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 120px;
  height: 57px;
  margin-left: 5px;
  font-family: cursive;
}
/* footer part  */
.footer-container {
  width: 1440px;
  height: 100px;
  margin: 0 auto;
}
.footer-content {
  display: flex;
  justify-content: space-around;
}
.footer-introduction h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
.footer-icon a {
  text-decoration: none;
}
/* bonus -section  */
.my-next-target-container {
  width: 1140px;
  height: 866px;

  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-next-target-content h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  width: 852px;
  /* height: 37px; */
  text-align: center;
  margin-left: 40px;
  margin-top: 20px;
}
.my-next-target-content p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 852px;
  /* height: 52px; */
  text-align: center;
  margin-left: 80px;
  margin-top: 30px;
}

.next-target-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px 50px;
}
.bonus-learn {
  width: 941.22px;
  height: 139px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.target-content h1 {
  width: 110px;
  height: 36px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
}

.targrt-content p {
  width: 941.22px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
